.optionWrapper {
    cursor: pointer;
    padding: 2em 1em;
    position: relative;
}

.optionWrapper:focus {
    outline: none;
    border: none;
}

.optionWrapper label {
    display: flex;
    position: relative;
    font-size: 95%;
    cursor: pointer;
    text-align: left;
}

.optionWrapper.disabled label{
    cursor: default;
}

.optionWrapper.disabled .radioInput {
    cursor: default;
}

.optionWrapper.disabled {
    cursor: default;
}

.optionWrapper:not(.disabled):hover {
    background: #f7f7f8;
}

.optionWrapper .radioInput {
    margin-right: 3em;
    border: .075em solid rgba(49,53,55,.2);
    width: 1.25em;
    min-width: 1.25em;
    height: 1.25em;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
    -webkit-transition: border-color .3s;
    transition: border-color .3s;
}

.optionWrapper input {
    display: none;
}

.optionWrapper input:checked~.radioInput:after {
    opacity: 1;
}

.optionWrapper input:checked {
    opacity: 1;
}

.optionWrapper .radioInput:not(.submitted):after {
    content: "";
    position: absolute;
    top: 0.4em;
    left: 0.4em;
    display: block;
    width: 0.6em;
    height: 0.6em;
    background: #747a7e;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    opacity: 0;
    -webkit-transform: scale(.6);
    -ms-transform: scale(.6);
    transform: scale(.6);
    -webkit-transition: opacity .3s,-webkit-transform .3s;
    transition: opacity .3s,-webkit-transform .3s;
    transition: opacity .3s,transform .3s;
    transition: opacity .3s,transform .3s,-webkit-transform .3s;
}

.optionWrapper .radioInput.submitted:after {
    position: absolute;
    top: 0.1em;
    left: .4em;
    display: block;
    width: .6em;
    height: .6em;
}

.optionWrapper .radioInput.submitted[data-correct-answer="true"]:after {
    content: url('../images/checkmark.svg');
}

.optionWrapper .radioInput.submitted[data-correct-answer="false"]:after {
    content: url('../images/xmark.svg');
}

.border {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
}

/* Border animation */

.optionBorder-enter {
    opacity: 0;
    width: 0;
}

.optionBorder-enter-active {
    opacity: 1;
    width: 100%;
    border: 2px solid #747a7e;
    transition: width 350ms ease-in, opacity 300ms;
    transition-delay: 350ms;
}

.optionBorder-enter-done {
    border: 2px solid #747a7e;
    width: 100%;
}

.optionBorder-exit {
    opacity: 1;
    border: 2px solid #747a7e;
}

.optionBorder-exit-active {
    opacity: 0;
    border: none;
    transition: opacity 300ms;
}

/* end - Border animation */

/* Media Queries  */

@media screen and (max-width: 600px) {
    .optionWrapper {
        padding-top: 1.5em;
        padding-bottom: 1.5em;
    }
} 

/* end - Media Queries  */